<!-- Footer -->
<footer class="footer page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© <%= new Date().getFullYear()%> Copyright:
        <a href="#"><%= process.env.COPYRIGHT  %></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
