<!DOCTYPE html>
<html>
<head>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>


<div class="container-fluid">
<div class="row">
  <h1>INDEX 2</h1>
</div>
  <div class="session">
    <h2 class="header">Create Your account</h2>



    <div class="signup-form">

      <% if(error){ %>

      <div class="alert alert-warning" role="alert">
        <div class="bottom-part text-center"> <p><%= error %></p></div>
      </div>


      <% } else{ %>

      <div class="alert alert-primary" role="alert">

        <div class="bottom-part text-center"> <p></p></div>

      </div>

      <% }  %>

    </div>

      <div class="form">


        <form class="form-vertical" action="/index" accept-charset="UTF-8" method="post">
          <div class="form-group">
            <div class="names">
              <div class="control-group">
                <label for="name">
                  First name
                </label>
                <input class="form-control" type="text" name="firstname" id="firstname" class="focus text-field" placeholder="First name" tabindex="1" autocomplete="off" requiere >
              </div>

              <div class="control-group">
                <div class="controls">
                  <label for="lastname">Last name</label>
                  <input class="form-control" type="text" name="lastname" id="lastname" class="text-field" placeholder="Last name" autocomplete="off" tabindex="2" requiere >
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <label for="email">Email</label>
              <input class="form-control" type="email" name="email" id="email" class="text-field" placeholder="Your email" autocomplete="off" tabindex="3" requiere >
            </div>

          </div>

          <div class="form-group">
            <div class="controls">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" id="password" class="text-field" placeholder="Password" autocomplete="off" tabindex="4" requiere >
            </div>

          </div>


      </div>

      <div class="form-group">
        <div class="controls ">
          <input type="submit" name="submit_button" value="Create account" class="btn btn-primary btn-block" id="signup_button" tabindex="7" data-disable-with="" >
        </div>
      </div>
      </form>

    </div>

  </div>


</div>







<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>