<div class="container">
    <div class="row">

        <div class="col-sm4 text-center">
            <p>your profile</p>
        </div>
        <div class="col-sm2 text-center">
            <p>your profile</p>
        </div>
        <div class="col-sm text-center">
            <p>your profile</p>
        </div>
        <div class="col-sm4 text-center">
            <p>your profile</p>
        </div>
        <div class="col-sm4 text-center">
            <p>your profile</p>
        </div>
        <div class="col-sm4 text-center">
            <p>your profile</p>
        </div>
        <div class="col-sm4 text-center">
            <p>your profile</p>
        </div>
    </div>
</div>