<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<button id="addLocalStorage">Add localStorage</button>
<button id="remLocalStorage">Remove localStorage</button>
<button id="showLocalStorage">show localStorage</button>


<button id="addSessionStorage">Add session storage</button>
<button id="remSeissionLocalStorage">Remove session storage</button>
<button id="showSessionStorage">Show sessionStorage</button>

<script src="/javascripts/storage.js"></script>
</body>
</html>
