<div class="session">
    <h2 class="header">Create Your account</h2>



    <div class="signup-form">
        <div class="form">

            <%if (hasErrors)
            {%>
            <div class="alert alert-danger text-center">

                <% signup_flash_error.forEach(function(data_signup_error){ %>
                <span><%= data_signup_error%></span>
                <% });%>
            </div>
            <% }%>

            <form class="form-vertical" action="/user/signup" accept-charset="UTF-8" method="post">
                <div class="form-group">
                    <div class="names">
                        <div class="control-group">
                            <label for="name">
                                First name
                            </label>
                            <input class="form-control" type="text" name="firstname" id="firstname" class="focus text-field" placeholder="First name" tabindex="1" autocomplete="off" requiere >
                        </div>

                    <div class="control-group">
                        <div class="controls">
                            <label for="lastname">Last name</label>
                            <input class="form-control" type="text" name="lastname" id="lastname" class="text-field" placeholder="Last name" autocomplete="off" tabindex="2" requiere >
                        </div>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email" class="text-field" placeholder="Your email" autocomplete="off" tabindex="3" requiere >
                    </div>

                </div>

                <div class="form-group">
                    <div class="controls">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" class="text-field" placeholder="Password" autocomplete="off" tabindex="4" requiere >
                    </div>

                </div>

                    <div id="re_password_div" class="form-group" hidden>
                        <div class="controls">
                            <label for="re_password">Password</label>
                            <input class="form-control" type="password" name="re_password" id="re_password" class="text-field" placeholder="Re-enter Password" autocomplete="off" tabindex="5" requiere >
                        </div>

                    </div>
                    <div class="terms form-group">
                        <input  class="form-input" id="checkbox" type="checkbox" tabindex="6"><span>By continuing I certify that I am 18 years of age, and I agree to the <a href="" target="_blank" rel="noopener noreferrer" requiere ><span>User Agreement</span></a> and <a href="" target="_blank" rel="noopener noreferrer"><span>Privacy Policy</span></a> </span>
                    </div>

                <div class="form-group">
                    <div class="controls ">
                        <input type="submit" name="submit_button" value="Create account" class="btn btn-primary btn-block" id="signup_button" tabindex="7" data-disable-with="" disabled>
                    </div>
                </div>
            </form>

        </div>

    </div>


</div>
<div class="bottom-part text-center"><span>Already have a website account?</span> <a class="" href="/user/signin">Log in</a></div>